<% include partials/header.ejs %>
  <p>
    <h1 class="text-center">Sakura Duff</h1>
    <h2 class="text-center">Programming Analyst</h2>
    <h3 class="text-center"><small>Not a Graphics Design Student<small></h3>
    <h4 class="text-center"><small><small>In Case it Wasn't Painfully Obvious</small></small></h4><!--because 2 smalls is even smaller right? -->
    <p class="col-sm-offset-4 col-sm-4">
      But while I'm not very good at making a website look good, I can sure do a whole lot of other things!
      Do you need a program in java to manage employees for your business? Sure thing!
      How about stepping it up a notch and making a bot that you can text and it will manage them for you? No problem.
      What about a virtual pet in c++? No? Ok, maybe not that last one. But with a naturally logical way of thinking and a passion for programming,
      you can be sure that you are hiring the best, whether you need someone for c++, java, javascript, sql, qbasic, LSL, sourcepawn, c#, python,
      html, or yes, even css as long as you know what you need me to do. 
    </p>
  </p>
<% include partials/footer.ejs %>
